GOOGLE_API_KEY="masukkan_api_key_kamu_di_sini"
DATABASE_URL="postgresql+psycopg://postgres:password_anda@localhost:5432/nama_database_anda"
JWT_SECRET="ganti_dengan_secret_key_acak_yang_aman"
HF_TOKEN="hf_xxx_dari_huggingface.co/settings/tokens"
# opsional: HF_EMBEDDING_MODEL="sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"
